{% extends "layouts/paper_layout.njk" %}

{% block content %}
<main>
    <div class="container">
        <h1>Fruits and their textures</h1>
        <ul>
            {% for item in fruit %}
                <li>
                    <h2><a href="/fruit/{{item.id}}">{{item.name}}</a></h2>
                    <p>This fruit is {{item.texture}} in it's texture</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</main>
   
{% endblock %}