{% extends "layouts/greeting_layout.njk" %}


{% block content %}

    <main>
        <div class="container">
            <h1>Welcome {{name}} !!!!</h1>
            <img src="images/image yes.png" alt="">
            <p>{{message}}</p>
        </div>
        
    </main>
{% endblock %}