{% extends "layouts/layout.njk" %}

{% block content %}
<main>
    <ul>
        {% for item in nav %}
        <li>
            <a href="{{item.url}}">{{item.title}}</a>
        </li>
        {% else %}
        <li>
            <p>whaaa</p>
        </li>
        {% endfor %}
    </ul>
    


    <h1>{{title}}</h1>
    <p>{{message}}</p>
</main>
{% endblock%}