{% extends "layouts/paper_layout.njk" %}

{% block content %}
<main>
    <div class="container">
        <h1>Fruits and their textures</h1>
        <ul>
            <li>
                <h2>{{name}}</h2>
                <p>This fruit is {{texture}} in it's texture</p>
            </li>
        </ul>
    </div>
</main>
   
{% endblock %}