body {
    background-image: url("images/paper_background.jpg");
}

img {
    border-style: dashed;
    border-color: rgba(0, 0, 0, 0.432);
}

.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.373);
    border-radius: 1rem;

    width: 50%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.fruits {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    list-style: none;
    gap: 1rem;
    
    
    li {
        background-color: white;
        width: 15rem;

        img {
            height: 8rem;
            width: 100%;
            object-fit: cover;
        }
    }
}